<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
    <select id="findAll" resultType="reviewVo">
        select
            r.*,
            (select count(*) from tb_review_picture where rev_pic_num = r.rev_num) review_picture_count,
            (select count(*) from tb_review_comment where com_rev_num = r.rev_num) review_comment_count
        from
            tb_review r
        order by
            rev_num desc
    </select>

    <select id="findByNum" resultMap="reviewVoMap">
        select
            r.*,
            pic.rev_picture_num,
            pic.original_filename,
            pic.renamed_filename,
            pic.rev_pic_num
        from
            tb_review r
                left join tb_review_picture pic
                          on r.rev_num = pic.rev_pic_num
        where
            r.rev_num = #{revNum}
    </select>

    <resultMap id="reviewVoMap" type="reviewVo">
        <id column="rev_num" property="revNum"/>
        <result column="rev_room_num" property="revRoomNum"/>
        <result column="rev_id" property="revId"/>
        <result column="rev_title" property="revTitle"/>
        <result column="rev_content" property="revContent"/>
        <result column="rev_score" property="revScore"/>
        <result column="rev_date" property="revDate"/>
        <collection property="reviewPictures" ofType="reviewPicture">
            <id column="rev_picture_num" property="revPictureNum"/>
            <result column="original_filename" property="originalFilename"/>
            <result column="renamed_filename" property="renamedFilename"/>
            <result column="rev_pic_num" property="revNum"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="reviewVoMap">
        select
            r.*
        from
            tb_review r
                left join tb_member m
                    on r.rev_id = m.member_id
                left join tb_review_picture pic
                    on r.rev_num = pic.rev_pic_num
        where
            rev_id = #{id}
    </select>

<!--    <select id="findByNum" resultType="review">-->
<!--        select-->
<!--            *-->
<!--        from-->
<!--            tb_review-->
<!--        where-->
<!--            rev_num = #{num}-->
<!--    </select>-->

    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            tb_review
    </select>

    <insert id="insertReview">
        insert into
            tb_review(rev_num, rev_id, rev_room_num, rev_title, rev_content, rev_score, rev_date)
        values(
               seq_rev_num.nextval,
               #{revId},
               #{revRoomNum},
               #{revTitle},
               #{revContent},
               #{revScore},
               sysdate)
        <selectKey order="AFTER" resultType="_long" keyProperty="revNum">
            select
                seq_rev_num.currval
            from
                dual
        </selectKey>
    </insert>

    <insert id="insertReviewPicture">
        insert into
            tb_review_picture (rev_picture_num, original_filename, renamed_filename, rev_pic_num)
        values (
                   seq_rev_picture_num.nextval,
                   #{originalFilename},
                   #{renamedFilename},
                   #{revPicNum}
               )
    </insert>

    <delete id="deleteReview">
        delete from
            tb_review
        where
            rev_num = #{revNum}
    </delete>

    <update id="updateReview">
        update
            tb_review
        set
            rev_num = #{revNum},
            rev_id = #{revId},
            rev_room_num = #{revRoomNum},
            rev_title = #{revTitle},
            rev_content = #{revContent},
            rev_score = #{revScore},
            rev_date = #{revDate}
        where
            rev_num = #{revNum}
    </update>

    <delete id="deleteReviewPicture">
        delete from
            tb_review_picture
        where
            rev_pic_num = #{revNum}
    </delete>

    <select id="findCommentByRevNum" resultType="reviewComment">
        select
            *
        from
            tb_review_comment
        where
            com_rev_num = #{revNum}
    </select>

    <insert id="insertReviewComment">
        insert into tb_review_comment
        values (seq_com_num.nextval,
                #{comId},
                #{comContent},
                default,
                #{comRevNum}
               )
        <selectKey order="AFTER" resultType="_long" keyProperty="comRevNum">
            select
                seq_com_num.currval
            from
                dual
        </selectKey>
    </insert>

</mapper>