<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ask">

    <select id="findAll" resultType="ask">
        select
            *
        from
            tb_ask
    </select>

    <select id="findById" resultType="ask">
        select
            *
        from
            tb_ask
        where
            ask_id = #{askId}
    </select>

    <insert id="insertAsk">
        insert into
            tb_ask
        values (#{askNum}, #{askId}, default, #{askTitle}, #{askCase}, #{askContent}, default)
    </insert>

    <update id="updateAsk">
        update
            tb_ask
        set
            ask_content = #{askContent},
            ask_title = #{askTitle}

        where
            ask_id = #{askId}
    </update>

    <delete id="deleteAsk">
        delete from
            tb_ask
        where
            ask_id = #{askId}
    </delete>

</mapper>