<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ask">

    <select id="findAll" resultType="ask">
        select
            *
        from
            tb_ask
    </select>

    <select id="findById" resultMap="askVoMap">
        select
            a.*,
            b.ans_content
        from
            tb_ask a left join tb_ask_answer b
                            on a.ask_num = b.ans_ask_num
        where
            ask_id = #{askId}
        ORDER BY
            CASE WHEN b.ans_content IS NOT NULL THEN 0 ELSE 1 END ASC,
            a.ask_date DESC       
    </select>
    <resultMap id="askVoMap" type="askVo">
        <id column="ask_num" property="askNum"/>
        <result column="ask_id" property="askId"/>
        <result column="ask_room_num" property="askRoomNum"/>
        <result column="ask_title" property="askTitle"/>
        <result column="ask_case" property="askCase"/>
        <result column="ask_content" property="askContent"/>
        <result column="ask_date" property="askDate"/>
        <collection property="askAnswers" ofType="askAnswer">
            <id column="ans_num" property="ansNum"/>
            <result column="ans_content" property="ansContent"/>
            <result column="ans_ask_num" property="ansAskNum"/>
        </collection>
    </resultMap>

    <insert id="insertAsk">
        insert into
            tb_ask(ask_num, ask_id, ask_title, ask_case, ask_content, ask_date)
        values (seq_ask_num.nextval, #{askId}, #{askTitle}, #{askCase}, #{askContent}, sysdate)
    </insert>

    <update id="updateAsk">
        update
            tb_ask
        set
            ask_content = #{askContent},
            ask_title = #{askTitle}

        where
            ask_id = #{askId}
    </update>

    <delete id="deleteAsk">
        delete from
            tb_ask
        where
            ask_id = #{askId}
    </delete>
    <select id="getTotalCount" resultType="_int">
        select
            count(*)
        from
            tb_ask
    </select>

    <select id="findAllAsk" resultMap="askVoMap">
        select
            a.*,
            b.ans_content
        from
            tb_ask a left join tb_ask_answer b
                               on a.ask_num = b.ans_ask_num
        order by a.ask_title desc
    </select>

</mapper>